body{
    background-color: black;
}

.poster{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
}

.image{
    border: 5px solid white;
    width: 100%;
}

h1{
    text-transform: uppercase;
    size: 3rem;
}